body {
    font-family: Helvetica;
    font-size: 13px;
}

#nav {
    float: right;
    margin-right: 20px;
    text-align: right;
    width: 150px;
    font-family: "Myriad Pro", "Helvetica Neue", Helvetica;
}

#nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#nav li a {
    display: inline-block;
    color: #0864c7;
}

#left {
    height: 1px;
    float: left;
    display: block;
    min-width: 0;
    overflow: hidden;
    width: 200px;
    margin: 0;
    padding: 0;
}

#content {
    margin-top: 15px;
    float: left;
    width: 500px;
}

#content p.notop {
    margin-top: 0;
}

#content p,
#content ul {
    color: #333;
    line-height: 18px;
}

#content h1,
#content h2,
#content h3 {
    font-family: "Myriad Pro", "Helvetica Neue", Helvetica;
    margin: 0;
}